In [1]:
# Libraries to manage data
import numpy as np
import pandas as pd

# Libraries for reqs and scrapping
import requests
from bs4 import BeautifulSoup

In [2]:
# Raw html response
covid_url = 'https://www.worldometers.info/coronavirus/'
req = requests.get(covid_url)
soup = BeautifulSoup(req.content, "html.parser")

In [3]:
# From table get what we want
# html tags: 
# variables names --> 'thead' --> 'tr' --> 'th'
# variables names --> 'tbody' --> 'tr' --> 'td'
variables = []
variables_html = soup.find_all('thead')[-1].find_all('tr')
for tag in variables_html:
    ths = tag.find_all(['th'])
    row = [th.text for th in ths]
    variables.append(row)
# variables

samples = []
samples_html = soup.find_all('tbody')[0].find_all('tr')
for tr in samples_html:
    td = tr.find_all(['th', 'td'])
    row = [i.text for i in td]
    samples.append(row)
# samples

df = pd.DataFrame(samples[:len(samples)-6], columns=variables[0]).drop(columns=["#"])       
df.head()

,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl
0,\nNorth America\n,"20,352,667","+57,205","467,481","+1,486","12,343,529","+20,936","7,541,657","33,726",,,,,,North America,\n,,
1,\nAsia\n,"19,594,118","+102,154","319,475","+1,329","17,828,448","+107,048","1,446,195","27,214",,,,,,Asia,\n,,
2,\nSouth America\n,"12,280,038","+11,430","345,686",+162,"10,858,312","+1,294","1,076,040","16,845",,,,,,South America,\n,,
3,\nEurope\n,"20,884,971","+176,203","482,759","+3,688","9,937,237","+111,205","10,464,975","26,564",,,,,,Europe,\n,,
4,\nAfrica\n,"2,470,482","+6,297","58,015",+105,"2,087,551","+6,048","324,916","2,759",,,,,,Africa,\n,,

In [4]:
df = df.iloc[8:,:-3].reset_index(drop=True)

In [5]:
# rename columns
df.columns = ['Country/Region', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths',
       'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical',
       'Tot Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/1M pop',
       'Population', 'Continent']
df = df[['Country/Region', 'Continent', 'Population', 'TotalCases', 'NewCases', 'TotalDeaths', 'NewDeaths',
       'TotalRecovered', 'NewRecovered', 'ActiveCases', 'Serious,Critical',
       'Tot Cases/1M pop', 'Deaths/1M pop', 'TotalTests', 'Tests/1M pop' ]]
df.sample(5)

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop
140,Djibouti,Africa,"994,610","5,780",+10,61,,"5,641",+6,78,,"5,811",61,"97,035","97,561"
141,Mayotte,Africa,"275,817","5,708",+92,53,,"2,964",,"2,691",4,"20,695",192,"34,115","123,687"
171,Mongolia,Asia,"3,302,544",941,+18,,,473,+89,468,4,285,,"471,863","142,879"
62,Oman,Asia,"5,165,792","127,019",,"1,483",,"119,009",,"6,527",43,"24,588",287,"571,472","110,626"
208,Greenland,North America,"56,816",19,,,,18,,1,,334,,"14,482","254,893"

In [17]:
# fix data
pd.set_option('display.max_rows', 500)


for col in df.columns[2:]:
    # replace comma with empty string
    df[col] = df[col].str.replace('[,+ ]', '', regex=True)
    # replace 'N/A' with empty string
    df[col] = df[col].str.replace('N/A', '', regex=False)

# replace empty strings with np.nan
df = df.replace('', np.nan)

# rename here what ever we want
df = df.rename(columns = {
    "Country/Region":"Country"
})
df = df[['Country','Population','TotalCases','TotalDeaths']]


df["Country"].loc[df["Country"]=="USA"]="United States"
df["Country"].loc[df["Country"]=="UK"]="United Kingdom"
df["Country"].loc[df["Country"]=="Taiwan"]="Taiwan Province of China"
df["Country"].loc[df["Country"]=="Congo"]="Congo (Kinshasa)"
df["Country"].loc[df["Country"]=="Czechia"]="Czech Repiublic"
df["Country"].loc[df["Country"]=="S. Korea"]="South Korea"
df["Country"].loc[df["Country"]=="Palestine"]="Palestinian Territories"



df

                      Country  Population TotalCases TotalDeaths
0               United States   331902144   17672842      318672
1                       India  1386271357   10004620      145167
2                      Brazil   213258918    7120103      184992
3                      Russia   145963586    2791220       49762
4                      France    65340640    2427316       59619
5                      Turkey    84757932    1982090       17610
6               United Kindom    68051351    1977167       66541
7                       Italy    60420388    1906377       67220
8                       Spain    46763207    1805633       48777
9                   Argentina    45387444    1524372       41534
10                   Colombia    51133227    1468795       39787
11                    Germany    83908358    1460365       25681
12                     Mexico   129558105    1289298      116487
13                     Poland    37827296    1182864       24771
14                       Iran    84488279    1145651       53273
15                       Peru    33183267     991518       36901
16                    Ukraine    43610883     944381       16256
17               South Africa    59653275     892813       24011
18                Netherlands    17152493     664456       10405
19                  Indonesia   274858766     650197       19514
20                    Belgium    11613026     618204       18371
21              United States    10718217     610006       10163
22                    Romania    19177644     582786       14157
23                       Iraq    40634810     581811       12670
24                      Chile    19192075     581135       16051
25                 Bangladesh   165447176     498293        7217
26                     Canada    37895142     492701       13992
27                Philippines   110252774     456562        8875
28                   Pakistan   222857045     451494        9164
29                    Morocco    37112296     412393        6854
30                Switzerland     8683918     403989        6541
31                     Israel     9197590     370152        3057
32                     Sweden    10128439     367120        7993
33                   Portugal    10182836     366952        5977
34               Saudi Arabia    35063072     360690        6101
35                    Austria     9030215     334913        5127
36                    Hungary     9648909     295977        7725
37                     Serbia     8720936     292640        2580
38                     Jordan    10249917     271514        3518
39                      Nepal    29377167     252474        1765
40                    Ecuador    17766235     204249       13932
41                    Georgia     3985597     204003        2002
42                     Panama     4345982     203295        3481
43                 Azerbaijan    10181419     195422        2133
44                        UAE     9945493     191150         630
45                    Croatia     4093426     190235        3023
46                      Japan   126295782     190138        2783
47                   Bulgaria     6923955     188288        6339
48                    Belarus     9447876     169648        1308
49         Dominican Republic    10898149     157929        2376
50                 Costa Rica     5115617     156388        1980
51                    Lebanon     6811167     154944        1259
52                    Armenia     2965818     152253        2596
53                    Bolivia    11746331     148665        9031
54                     Kuwait     4299620     147531         916
55                   Slovakia     5460873     146124        1440
56                 Kazakhstan    18880262     145213        2147
57                      Qatar     2807805     141716         242
58                    Moldova     4029590     133360        2700
59                  Guatemala    18067499     132062        4589
60                     Greece    10399263     129584        4044
61                    Denmark     5801672     128321        1007
62                       Oman     5165792     127019        1483
63                      Egypt   103218967     123701        7015
64                  Palestine     5155547     119612        1097
65                   Ethiopia   116261666     119025        1843
66                    Tunisia    11875711     115966        4032
67                   Honduras     9976991     115474        3021
68                    Myanmar    54578719     114198        2398
69                  Venezuela    28398348     109081         975
70                  Lithuania     2704423     106210         972
71     Bosnia and Herzegovina     3271274     104087        3549
72                   Slovenia     2079071     103555        2274
73                   Paraguay     7172923      97028        2032
74                    Algeria    44214198      94371        2647
75                      Libya     6914313      93772        1346
76                      Kenya    54312565      93761        1629
77                   Malaysia    32557060      90816         432
78                    Bahrain     1728284      89743         349
79                 Kyrgyzstan     6573629      78679        1324
80                    Ireland     4963234      77678        2143
81            North Macedonia     2083334      77134        2254
82                    Nigeria   208468531      76207        1201
83                 Uzbekistan    33692363      75675         612
84                  Singapore     5871629      58386          29
85                      Ghana    31369658      53553         331
86                    Albania     2876333      52004        1066
87                Afghanistan    39328809      50445        2037
88              United States    51289714      47515         645
89                 Luxembourg      630656      43728         434
90                 Montenegro      628103      43390         620
91                     Norway     5440854      42968         404
92                El Salvador     6501382      42397        1234
93                  Sri Lanka    21454912      36047         165
94                    Finland     5544722      32582         489
95                     Uganda    46395316      30071         230
96                     Latvia     1876410      29427         409
97                  Australia    25636342      28094         908
98                   Cameroon    26847042      25472         445
99                      Sudan    44316562      22265        1408
100               Ivory Coast    26676031      21772         133
101                   Estonia     1326950      20658         168
102                    Zambia    18617945      18575         373
103                   Namibia     2562008      18041         169
104                Madagascar    28015240      17587         259
105                   Senegal    16944768      17559         357
106                Mozambique    31653402      17338         146
107                    Cyprus     1211427      16647          85
108                    Angola    33329560      16484         382
109          French Polynesia      281661      16118         101
110                       DRC    90796091      15089         366
111                    Guinea    13294822      13511          80
112                  Maldives      544912      13444          48
113                  Botswana     2373362      13014          38
114                Tajikistan     9635503      12888          89
115             French Guiana      302207      12163          71
116                   Jamaica     2967164      12039         283
117                  Zimbabwe    14962460      11866         314
118                Mauritania     4705292      11805         254
119                     Malta      442089      11569         183
120                Cabo Verde      558774      11502         110
121                   Uruguay     3479320      11436         105
122                      Cuba    11323396       9893         137
123                    Belize      400938       9791         213
124                     Syria    17694535       9759         571
125                     Haiti    11466606       9648         234
126                     Gabon     2249700       9373          63
127                   Réunion      898270       8704          42
128                Guadeloupe      400156       8524         154
129                 Hong Kong     7525116       7970         127
130                   Bahamas      394980       7733         164
131                   Andorra       77322       7519          80
132                  Eswatini     1165710       7093         135
133                    Rwanda    13098572       7032          57
134       Trinidad and Tobago     1401593       6940         123
135          Congo (Kinshasa)     5580009       6200         100
136                    Malawi    19355062       6138         187
137                      Mali    20515724       6049         211
138                    Guyana      788312       6042         158
139                 Nicaragua     6660896       5938         163
140                  Djibouti      994610       5780          61
141                   Mayotte      275817       5708          53
142                Martinique      375129       5634          42
143                   Iceland      342269       5604          28
144                  Suriname      589062       5428         117
145         Equatorial Guinea     1423838       5214          85
146                     Aruba      106976       5124          47
147                       CAR     4868302       4936          63
148                   Somalia    16094760       4662         124
149              Burkina Faso    21163914       4611          73
150                  Thailand    69881362       4297          60
151                   Curaçao      164404       3823          11
152                    Gambia     2447521       3786         123
153                      Togo     8367279       3330          66
154               South Sudan    11254247       3228          62
155                     Benin    12267757       3152          44
156                   Lesotho     2150106       2546          48
157                     Niger    24601794       2506          84
158              Sierra Leone     8051228       2486          75
159             Guinea-Bissau     1989226       2447          44
160           Channel Islands      174604       2389          48
161               New Zealand     5002100       2110          25
162                     Yemen    30126156       2087         606
163                San Marino       33964       2049          54
164                      Chad    16639938       1818         102
165                   Liberia     5111932       1779          83
166             Liechtenstein       38179       1676          23
167                   Vietnam    97743404       1410          35
168              Sint Maarten       43101       1294          26
169                 Gibraltar       33686       1184           6
170     Sao Tome and Principe      221025       1011          17
171                  Mongolia     3302544        941         NaN
172              Saint Martin       38969        801          12
173          Turks and Caicos       38958        772           6
174          Papua New Guinea     9024690        760           8
175  Taiwan Province of China    23836816        759           7
176                   Burundi    12051465        751           1
177                   Eritrea     3569015        741         NaN
178          Diamond Princess         NaN        712          13
179                    Monaco       39371        700           3
180                   Comoros      878072        643           7
181            Faeroe Islands       48949        534         NaN
182                 Mauritius     1272749        524          10
183                  Tanzania    60507133        509          21
184                   Bermuda       62171        497           9
185                    Bhutan      775529        442         NaN
186               Isle of Man       85242        373          25
187                  Cambodia    16825477        362         NaN
188            Cayman Islands       66078        310           2
189                  Barbados      287539        305           7
190               Saint Lucia      184016        279           5
191                Seychelles       98629        202         NaN
192     Caribbean Netherlands       26336        177           3
193                 St. Barth        9891        162           1
194                   Brunei       439414        152           3
195       Antigua and Barbuda       98304        151           5
196    St. Vincent Grenadines      111104        100         NaN
197                   Grenada      112765         94         NaN
198                  Dominica       72069         88         NaN
199    British Virgin Islands       30324         80           1
200                      Fiji      899452         46           2
201                     Macao      653410         46         NaN
202                      Laos     7324131         41         NaN
203             New Caledonia      286766         37         NaN
204               Timor-Leste     1329952         31         NaN
205     Saint Kitts and Nevis       53373         28         NaN
206              Vatican City         802         27         NaN
207          Falkland Islands        3526         23         NaN
208                 Greenland       56816         19         NaN
209           Solomon Islands      694564         17         NaN
210     Saint Pierre Miquelon        5781         14         NaN
211                Montserrat        4993         13           1
212            Western Sahara      604035         10           1
213                  Anguilla       15065         10         NaN

In [15]:
# save as .csv file
df.to_csv('covid19_data.csv', index=False)