In [1]:
import pandas as pd
import numpy as np

In [2]:
# dataframing all happiness csvs
y2015 = pd.read_csv("2015.csv")
y2016 = pd.read_csv("2016.csv")
y2017 = pd.read_csv("2017.csv")
y2018 = pd.read_csv("2018.csv")
y2019 = pd.read_csv("2019.csv")
y2020 = pd.read_csv("2020.csv")

#### Preprocessing 

For each year's dataframe, we will preprocess the data by determining if there are any invalid entries. Specifically, any values of NaN or 0 (when not appropriate), will be treated by taking the mean of the remaining values in the column. We then concatenate all the dataframes to form a final version which includes all the years.

In [5]:
# IMPORTANT COLUMNS 
cols=['Year','Country','Happiness_Score','Happiness_Rank', 'GDP_per_capita', 'Healthy_life_expectancy','Freedom', 'Generosity','Perceptions_of_corruption']

In [9]:
# 2015
y2015.rename(columns={'Economy (GDP per Capita)':'GDP_per_capita', \
                      'Happiness Score':'Happiness_Score',\
                      'Happiness Rank':'Happiness_Rank',\
                       'Health (Life Expectancy)':'Healthy_life_expectancy',\
                     'Trust (Government Corruption)':'Perceptions_of_corruption'}, inplace=True)
y2015['Year']=2015
y2015=y2015.loc[:,cols]

# 2016
y2016.rename(columns={'Economy (GDP per Capita)':'GDP_per_capita', \
                     'Happiness Score':'Happiness_Score',\
                      'Happiness Rank':'Happiness_Rank',\
                       'Health (Life Expectancy)':'Healthy_life_expectancy',\
                     'Trust (Government Corruption)':'Perceptions_of_corruption'}, inplace=True)
y2016['Year']=2016
y2016=y2016.loc[:,cols]

# 2017
y2017.rename(columns={'Economy..GDP.per.Capita.':'GDP_per_capita', \
                       'Health..Life.Expectancy.':'Healthy_life_expectancy',\
                     'Trust..Government.Corruption.':'Perceptions_of_corruption',\
                     'Happiness.Rank': 'Happiness_Rank',\
                     'Happiness.Score': 'Happiness_Score'}, inplace=True)
y2017['Year']=2017
y2017=y2017.loc[:,cols]

# 2018
y2018.rename(columns={'Freedom to make life choices':'Freedom',\
                      'Overall rank': 'Happiness_Rank',\
                      'Country or region':'Country',\
                      'GDP per capita':'GDP_per_capita',\
                      'Perceptions of corruption':'Perceptions_of_corruption',\
                      'Healthy life expectancy':'Healthy_life_expectancy',\
                      'Score': 'Happiness_Score'}, inplace=True)
y2018['Year']=2018
y2018=y2018.loc[:,cols]

# 2019
y2019.rename(columns={'Freedom to make life choices':'Freedom',\
                      'Overall rank': 'Happiness_Rank',\
                      'Country or region':'Country',\
                      'GDP per capita':'GDP_per_capita',\
                      'Perceptions of corruption':'Perceptions_of_corruption',\
                      'Healthy life expectancy':'Healthy_life_expectancy',\
                      'Score': 'Happiness_Score'}, inplace=True)
y2019['Year']=2019
y2019=y2019.loc[:,cols]

# 2020
y2020.rename(columns={'Freedom to make life choices':'Freedom',\
                      'Logged GDP per capita':'GDP_per_capita', \
                      'Country name': 'Country',\
                      'Perceptions of corruption':'Perceptions_of_corruption',\
                      'Healthy life expectancy':'Healthy_life_expectancy',\
                      'Ladder score': 'Happiness_Score'}, inplace=True)
y2020['Happiness_Rank'] = y2020['Happiness_Score'].rank(ascending=False)
y2020['Year']=2020
y2020=y2020.loc[:,cols]

We observe that the values with zero/null can in fact be replaced by the mean of the remaining entries for the corresponding column. The only columns where this wouldn't make sense is for `Country` and `Happiness_Rank`. We note that `y2020` has no invalid entries.

We now mask all zero/null entries with the corresponding column mean.

We also observe a discrepancy in units used between the `y2020` dataframe vs. the rest. Specifically, the `GDP_per_capita` and `Healthy_life_expectancy` are notably different magnitudes in y2020. Additionally, the range of values in certain columns of `y2020` are much greater than the other years. For example, for Finland the corresponding values are:

* `GDP_per_capita`: 10.64 (2020) vs. 1.34 (2019)
* `Healthy_life_expectancy`: 71.90 (2020) vs. 0.99 (2019)

We decide to address this issue by normalizing the data for all columns that *do not* belong to `Country`, `Happiness_Score` and `Happiness_Rank`.

We also note that normalizing the data for each year's dataframe will re-introduce zero values. However, the interpretation is different from having invalid entries.

In [13]:
# replace invalid values with mean

y2015=y2015.mask(y2015==0).fillna(y2015.mean())
y2016=y2016.mask(y2016==0).fillna(y2016.mean())
y2017=y2017.mask(y2017==0).fillna(y2017.mean())
y2018=y2018.mask(y2018==0).fillna(y2018.mean())
y2019=y2019.mask(y2019==0).fillna(y2019.mean())

# concatenate every year to obtain the final dataframe
df = pd.concat([y2015, y2016, y2017, y2018, y2019, y2020], axis=0)
df.sample(10)

,Year,Country,Happiness_Score,Happiness_Rank,GDP_per_capita,Healthy_life_expectancy,Freedom,Generosity,Perceptions_of_corruption
16,2016,Brazil,6.952,17.0,1.08754,0.61415,0.40425,0.15776,0.14166
106,2016,Nepal,4.793,107.0,0.44626,0.50073,0.37012,0.38160,0.07008
94,2015,Albania,4.959,95.0,0.87867,0.81325,0.35733,0.14272,0.06413
119,2016,Egypt,4.362,120.0,0.95395,0.52116,0.18847,0.12706,0.10393
68,2019,Philippines,5.631,69.0,0.80700,0.65700,0.55800,0.11700,0.10700
81,2018,Croatia,5.321,82.0,1.11500,0.73700,0.38000,0.12000,0.03900
150,2015,Ivory Coast,3.655,151.0,0.46534,0.15185,0.46866,0.20165,0.17922
150,2018,Rwanda,3.408,151.0,0.33200,0.40000,0.63600,0.20000,0.44400
47,2016,Nicaragua,5.992,48.0,0.69384,0.65213,0.46582,0.29773,0.16292
51,2018,Romania,5.945,52.0,1.11600,0.72600,0.52800,0.08800,0.00100

In [14]:
df.to_csv('happiness15-20.csv', index=False)